/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}


/* fonte */
h1 {

  font-size: var(--h1-size);
  font-weight: 700;
  color: var(--text-color1);

}

h2 {

  font-size: var(--h2-size);
  font-weight: 500;
  color: var(--text-color1);
  margin-bottom: 0.5rem;
}

h3 {

  font-size: var(--h3-size);
  font-weight: 500;
  color: var(--text-color1);
}

h4 {

  font-size: var(--h4-size);
  font-weight: 600;
  letter-spacing: 0.07rem;
  color: var(--text-color1);
  line-height: 1.7;
}

h5 {

  font-size: var(--h4-size);
  font-weight: 200;
  letter-spacing: 0.08rem;
  color: var(--text-color2);
}

p,
a {

  font-size: var(--p-size);
  font-weight: 200;
  color: var(--text-color2);

  line-height: 1.7;
}

/* media */

/***************************************************** S *****************************************************/
@media (min-width: 481px) {
  /****************** General *****************/

  h1 {
    font-size: var(--h1-size-s);
  }

  h2 {
    font-size: var(--h2-size-s);
  }

  h3 {
    font-size: var(--h3-size-s);
  }

  h4 {
    font-size: var(--h4-size-s);
  }

  p,
  a {
    font-size: var(--p-size-s);
  }
}

/****************************************************** M *************************************************/
@media (min-width: 850px) {
  /********************* General *******************/

  h1 {
    font-size: var(--h1-size-m);
  }

  h2 {
    font-size: var(--h2-size-m);
  }

  h3 {
    font-size: var(--h3-size-m);
  }

  h4 {
    font-size: var(--h4-size-m);
  }

  p,
  a {
    font-size: var(--p-size-m);
  }

  /******************************************************** L **************************************************/
  @media (min-width: 1200px) {

    /* /Fonts/ */

    h1 {
      font-size: var(--h1-size-l);
    }

    h2 {
      font-size: var(--h2-size-l);
    }

    h3 {
      font-size: var(--h3-size-l);
    }

    h4 {
      font-size: var(--h4-size-l);
    }

    p,
    a {
      font-size: var(--p-size-l);
    }


    /* structure  */
    main {
      max-width: 1600px;
      min-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
    }

    .divider {
      margin: 0 2rem;
    }

    /* grid */

    /* forside */

    .grid_1-1 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }

    .intro {
      grid-column: 1 / -1;
    }

    .grid_1-1>h3 {
      grid-column: 1 / -1;
    }

    .tema_button {
      grid-column: 1 / -1;
      justify-self: end;
    }

    /* Om Mig*/

    .grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* two equal columns */
      gap: 1.5rem;
      align-items: start;
      /* or center */
    }

    /* optional: let the image size itself */
    .img_ollie img {
      width: 100%;
      height: auto;
      display: block;
    }

    .about_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* two columns */
      gap: 1.5rem;
    }

    .about_copy {
      grid-column: 1 / -1;
    }

    .contact {
      margin-top: 2rem;
      padding-top: 2rem;
      margin-left: 4rem;
      border-top: 0.5px solid var(--text-color1);
    }

    .some_icons_2 a img {
      width: 100px;
      height: auto;
    }



    /* tematal */



    .breadcrumbs_nav {
      margin-bottom: 4rem;
    }

    .tema_grid_1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 1rem;
      gap: 2rem;
      margin-bottom: 3rem;

    }



    /* knapper */

    .button_arrow_task {
      width: 30px;
    }
  }
}