.img_ollie {
  filter: grayscale(100%);
}

.mail {
  display: grid;
  grid-template-columns: 1fr 5fr
}

.mobil {
  display: grid;
  grid-template-columns: 1fr 5fr
}

.some_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.some_icons a img {
  width: 30px;
  height: 30px;
}

.some_icons_2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr
}

.some_icons_2 a img {
  width: 30px;
  height: auto;
}


.SoMe {
  margin-top: 1rem;
}

.ommig h5 {
  margin-top: 1rem;
  margin-bottom: 0.1rem;
}

.ommig img {
  margin: 2rem 0;
}